<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans.xsd  
    http://www.springframework.org/schema/security  
    http://www.springframework.org/schema/security/spring-security.xsd">

	<http>
		<intercept-url pattern="/private" access="ROLE_ADMIN, ROLE_TESTER, ROLE_TEST" />
		
		<form-login login-page="/login"  authentication-failure-url="/wrongUser" />
		
		<logout logout-success-url="/logoutSuccessful"/> <!--  route the user to the home page -->
	</http>

	<authentication-manager>
		<authentication-provider>
			<jdbc-user-service data-source-ref="dataSource"
				users-by-username-query="select username,password,enabled from users where username=?"
				authorities-by-username-query="select username, role from user_roles where username=?"
			
			/>
		
		
		
			<password-encoder ref="mypassenc"></password-encoder>
		</authentication-provider>
		
		
		
		
	</authentication-manager>

	
	<beans:bean id="mypassenc" class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
	
	
	</beans:bean>





</beans:beans>